* {
	padding: 0;
	margin: 0;
}

html{
	scroll-behavior: smooth;
}

.header {
	background-color: #9E6E6E;
	position: fixed;
	width: 100%;
	top: 0 ;
	z-index: 2;
}

.container {
	width: 80%;
	margin: auto;
}

.row {
	display: inline-flex;
	width: 100%;
}


.col-4{
	width: 33.3%;
}

.logo {
	padding-top: 15px;
}

.logo h1 {
	color: whitesmoke;
	cursor: pointer;
	font-family: 'Viga', sans-serif;
}

.logo h1:hover {
	color: #E65454;
	transition: 0.4s;
}


ul li {
	display: inline-block;
	padding: 26px 20px;
	font-family: 'Bebas Neue', cursive;
	text-transform: uppercase;
}

ul li a {
	text-decoration: none;
	color: whitesmoke;
	font-size: 15pt;
}

ul li a:hover {
	color: #E65454;
	transition: 0.4s;
}

.form {
	padding: 20px 10px;
	text-align: right;
}

.search {
	border-radius: 19px;
	outline: none;
	border: none;
	padding: 8px 15px;
}

.button {
	border-radius: 70px;
	background-color:#FAA847;
	padding:7px 15px;
	outline: none;
	border: none;
	width: 40px;
	height: 40px;
}

.button:hover {
	color: whitesmoke;
}

.banner {
	width: 100%;
	height: 113.4vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner video {
	position: absolute;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.banner img {
	position: absolute;
	z-index: 2;
	width: 350px;
	padding-bottom: 350px;
}

.banner h1{
	font-size: 100px;
	color: whitesmoke;
	position: absolute;
	font-family: 'Aladin', cursive;
	text-shadow: 0 0 10px rgba(0, 0, 0, 1);
	opacity: 0.9;
}

.banner h3{
	font-size: 25px;
	color: #DC9F50;
	position: absolute;
	padding-top: 170px;
	font-family: monserrat, sans-serif;
	opacity: 1;
}

.banner h4{
	font-size: 17px;
	color: whitesmoke;
	position: absolute;
	padding-top: 260px;
	font-family: monserrat, sans-serif;
	opacity: 0.6;
}

.banner h5{
	font-size: 17px;
	color: whitesmoke;
	position: absolute;
	padding-top: 290px;
	font-family: monserrat, sans-serif;
	opacity: 0.6;
}

.banner h6{
	font-size: 17px;
	color: whitesmoke;
	position: absolute;
	padding-top: 325px;
	font-family: monserrat, sans-serif;
	opacity: 0.6;
}

.parralax {
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(3.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 60vh;
	background-position: center;
	background-size: 100%;
}

.parralax p {
	color: whitesmoke;
	text-align: center;
}

img	{
	width: 100%;
}

h2 {
	text-align: center;
	color: whitesmoke;
	padding-top: 16px;
	font-size: 50px;
	font-family: 'Viga', sans-serif;
	padding-top: 100px;
}

.item p {
	margin-top: 50px;
}


.owl-carousel h2{
	text-align: center;
	color: black;
	margin: -50px 0;
}


figure{
	overflow: hidden;
	margin: 0 10px;
}

.item img {
	cursor: pointer;
}

.item #zoom-in img{
	transform: scale(1);
	transition: 0.3s ease-in-out;
}

.item #zoom-in:hover img{
	transform: scale(1.5);
}

.contact{
	background-color: #446280;
	height: 250px;
}

.contact img{
	height: 100%;
}

.box {
	width: 200px; 
	height: 200px; 
	overflow: hidden; 
	border-radius: 50%;
	margin-top: 25px;
}

.contact p{
	color: white;
	margin: 90px 230px;
}

.bottom{
	background-color: #885E5E;
	width: 100%;
}

.ig{
	color: #FAA847;
	font-size: 20pt;
	margin: 0 170px;
}

h3{
	margin: 0 151px;
	color: whitesmoke;
	padding: 5px 0;
	font-family: 'Viga', sans-serif;
	font-size: 15px;
}

.ig:hover{
	color: whitesmoke;
	transition: 0.3s;
}
